{% extends 'base.html' %}
{% block body %} 
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="/static/todobg.png"
            alt="Logo"
            width="50"
            height="44"
            class="d-inline-block align-text-top"
          />
          Update your To-do list
        </a>
      </div>
    </nav>
    <div class="container-lg">
      <form action="/update/{{todo.sno}}" method="POST">
        <div class="mb-3">
          <label for="titlein" class="form-label">Title</label>
          <input
            type="input"
            class="form-control"
            id="titlein"
            aria-describedby="emailHelp"
            name="title"
            value='{{todo.title}}'
          />
        </div>
        <div class="mb-3">
          <label for="desc" class="form-label">Description</label>
          <input type="input" class="form-control" id="desc" name="desc" value='{{todo.desc}}' />
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
          <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
        </tbody>
      </table>
    </div>
    {% endblock body %}
